/*main html*/
html{
  width:100vw;
  height:100vh;
}
body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background-color:white;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  overflow:hidden;
}
#container{
  width:90%;
  height:100%;
  float:right;

}
/*navigation html*/
#scroll_to_top{
  position:fixed;
  right:50px;
  top:25%;
  width:80px;
  height:80px;

}

#navbar{
  width:10%;
  display: block;
  height:100%;
  position:fixed;
  background-color:#ff0000;

}

#navbar ul li{
list-style-type:none;
}
#navbar ul li a{

text-decoration:none;
color:white;
}
/*main content style*/
#left{
  float:left;
  width:75%;
  height:80%;
  overflow: scroll;
}

#search{
  background-color:red;
  padding:10px;
  width:100%;
}
#textfield{
  width:40%;
}

#right{
  float:right;
  width:25%;
  height:80%;
  overflow: scroll;
}
/*calander style*/
#calander{
  width:100%;
  height:20%;
  background-color:#999999;
  padding-top:10px;
}

#calander ul{
  margin:0;
  width:100%;
  height:100%;
}
.sample_day{
  
  width:16%;
  height:80%;
  display:inline-block;
  margin-right:10px;
}
.sample_day div{
  background-color:black;
  width:100%;
  height:100%;
}
/*post style*/

.post{
  background-color:black;
  width:60%;
  margin-left:12%;
  margin-top:6%;
  height:400px;
  color:white;
}

/*queue style*/
.queue_item{
  background-color:black;
  width:70%;
  height:200px;
  margin-left:10%;
  margin-top:20px;
}